# Byte-compiled / cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

dev_iot_omlette/

*/output/*

# Ignorer les données systèmes
.DS_Store
Thumbs.db

# Ignorer les volumes de données Docker (s'ils sont montés localement)
pgdata/
grafana_data/

# Si tu as un fichier .env avec des mots de passe
.env
todo
package-lock.json
node_modules/
*/frames/*
