services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb_edge
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    networks:
      - dev-cps-network

  # KAFKA - Broker unique avec KRaft
  kafka:
    image: confluentinc/cp-kafka:7.5.0  
    container_name: kafka_broker
    ports:
      - "9092:9092"                     # Port CLIENT : connexion depuis votre machine
      - "9093:9093"                     # Port CONTROLLER : coordination KRaft interne

    environment:
      KAFKA_NODE_ID: 1
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://0.0.0.0:9092,CONTROLLER://kafka:9093
      # PLAINTEXT://kafka:29092    → Communication inter-conteneurs Docker (kafka-ui, etc.)
      # PLAINTEXT_HOST://:9092     → Connexion depuis votre machine (localhost:9092)
      # CONTROLLER://kafka:9093    → Coordination KRaft interne
      
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093      
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
      KAFKA_MIN_INSYNC_REPLICAS: 1
      
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true" # Pratique pour le développement, à désactiver en production
      KAFKA_LOG_RETENTION_HOURS: 168 # 7 jours 
      KAFKA_LOG_SEGMENT_BYTES: 1073741824 # 1 GB
      
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    volumes:
      - kafka-data:/var/lib/kafka/data

    networks:
      - dev-cps-network

    healthcheck:
      test: ["CMD", "kafka-broker-api-versions", "--bootstrap-server", "localhost:9092"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    networks:
      - dev-cps-network


volumes:
  mongodb-data:
  kafka-data:


networks:
  dev-cps-network:
    driver: bridge

